@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #4e6cff;
    --while: #fff;
    --color-text: #000;
    --color-button-horver: #2f42fc;
    --bgr-outline-horver: #dbeaff;
    --mgleft: 20px;
    --border-item: #ddd;
    --margin-top: 100px;
}

* {
    // thuộc tính chiều rộng và chiều cao của phần tử sẽ tính cả padding, content, margin
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', serif;
    font-size: 1.6rem;
    // trình duyệt sẽ nhấn mạnh vào tốc độ hiển thị hơn khả năng đọc
    text-rendering: optimizeSpeed;
}

.content {
    padding-top: 100px;
}
